.button {
  font-size: 1rem;
  font-weight: 600;
  line-height: 48px;
  padding: 0 24px;
  height: 48px;
  text-align: center;
  border-radius: 6px;
  transition: 0.18s ease-out;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  &--primary {
    border-color: transparent;
    background-color: $blue-200;
    color: $white;
    text-transform: uppercase;
    &:hover {
      background-color: $blue-50;
    }
  }
  &--link {
    border-color: transparent;
    background-color: transparent;
    color: $gray-600;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: $black;
    }
  }
}
