// Colors

$black: #333333;

$primary: #fff059;

$blue-200: #3483fa;
$blue-100: #ecf3fc;
$blue-50: #78a6eb;

$white: #ffffff;
$gray-300: #f6f6f6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #666666;

$error: #d11124;
